{{#each lessons}}
  <option value="{{formatDate this.date "x"}}">{{dateCalendar this.date}}, Period {{humanReadableIndex this.period}} with {{this.teacher}} ({{dateToNow this.date}})</option>
{{/each}}
