{{#each lessons}}
  <option value="{{formatDate this.date "x"}}">{{dateCalendar this.date}}, Period {{humanReadableIndex this.period}}{{#if this.teacher}} with {{this.teacher}}{{/if}} ({{dateToNow this.date}})</option>
{{/each}}
