<div class="panel-heading"><h3 class="panel-title">{{dayname}}</h3></div>
<div class="panel-body">
  {{#each dayitems}}
      {{#if tome}}
        <div class="dayitem dayitem-full">
          <div class="tome">{{tome}}</div>
          <div class="content">{{content}}</div>
        </div>
      {{else}}
        <div class="dayitem dayitem-contentonly">
          <div class="content">{{content}}</div>
        </div>
      {{/if}}
  {{/each}}

  <h3>Lessons</h3>
  {{#if lessons}}
    {{#each lessons}}
      <div class="lesson">{{humanReadableIndex startperiod}}{{#ifnoteq startperiod endperiod}}-{{humanReadableIndex endperiod}}{{/ifnoteq}} ({{starttome.[0]}}:{{starttome.[1]}}-{{endtome.[0]}}:{{endtome.[1]}}): {{subject}} - {{teacher}} - {{location}}</div>
    {{/each}}
  {{else}}
    No Lessons
  {{/if}}

  <h3>Homework</h3>
  {{#if homework}}
    {{#each homework}}
      {{> main.homeworkitem}}
    {{/each}}
  {{else}}
    No homework due in.
  {{/if}}
</div>
