<div class="panel-heading"><h3 class="panel-title">{{dayname}}</h3></div>
<div class="panel-body">
  {{#if notes}}
    <h3>Notes/events</h3>
    {{#each notes}}
      {{> main.daynote}}
    {{/each}}
  {{/if}}


  <h3>Lessons</h3>
  {{#if lessons}}
    {{#each lessons}}
      <div class="lesson"><span style="font-weight: bold; display: inline-block;">{{humanReadableIndex startperiod}}{{#ifnoteq startperiod endperiod}}-{{humanReadableIndex endperiod}}{{/ifnoteq}} ({{starttome.[0]}}:{{starttome.[1]}}-{{endtome.[0]}}:{{endtome.[1]}}): {{#if subject}}{{subject}}{{/if}}</span><span style="display: inline-block;">{{#if teacher}} - {{teacher}}{{/if}}{{#if location}} - {{location}}{{/if}}</span></div>
    {{/each}}
  {{else}}
    No Lessons
  {{/if}}

  <h3>Homework</h3>
  {{#if homework}}
    {{#each homework}}
      {{> main.homeworkitem}}
    {{/each}}
  {{else}}
    No homework due in.
  {{/if}}
</div>
