<div class="homeworkitem" data-id="{{_id}}">
  <div class="subject"><div>{{subject}}</div></div>
  <div class="homework"><a href="javascript:void(0)" class="edithomeworklink">{{{homework}}}</a></div>
  <div class="due {{#if complete}}complete{{else}}incomplete{{/if}}"><div><a href="javascript:void(0)" class="togglecompletelink">Due {{dateToNow due}}</a></div></div>
</div>
